nav{
	width: 1600px;
	font-size: 20px;
	height: 50px;
	background-color: #b2b7c1;

}
.length{
	margin-left: 500px;
}
.length1{
	margin-left: 400px;
}
.length2{
	margin-left: 100px;
}
.background{
	background-color:white;
}
.img{
	width: 150px;
	height: 140px;
	padding: 10px;
}
.fa-wifi{
	color: #1fef2d;
	font-size: 30px;
}
.glyphicon-certificate{
	color: #efe41e;
}
#text{
  margin-top: 40px;
  margin-left: 20px;
}
.paragraph{
	margin-top: 40px;
}
.cal {
margin-top: 20px;
padding:0 40px;
}
.monthPre{
color: gray;
text-align: center;
}
.monthNow{
text-align: center;
}
.dayNow{
color: white;
text-align: center;
background-color: #05c4b4;
}
#calendar{
background-color: #eaedf2;
width: 75%;
}
.calendar td{ 
htmlContent: 2px;
width: 40px;
}
.button{
width: 200px;
border-radius: 25px;
margin-left: 50px;
}
.monthNow th{
text-align: center;
}
.dayNames{
background:#bababa;
color: #FFFFFF;
text-align: center;
}
body{
	background-color:#bac6d8;
}
.date{
	background-color:#ccd6e0;
	padding: 20px;
}
.date1{
	background-color:#ccd6e0;
	padding: 30px;
	margin-left: 20px;
}
.date2{
	background-color:#ccd6e0;
	padding: 33px;
	margin-left: 20px;
}
#demo{
	font-size: 20px;
}
